torch==2.7.1
unstructured[all-docs]==0.14.5
unstructured-inference==0.7.33
rich
pymupdf4llm==0.0.9
transformers==4.52.1
sentence-transformers==3.0.1
numpy==1.26.4
pypdf==4.3.0
easyocr==1.7.1


# Force reinstall:
# pip install --force-reinstall -r requirements.txt